


.header {
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 80px;
	padding-right: 40px;
	border-bottom: 1px solid black;
	z-index: 1;
	background: white;

}

.logo span { 

	color: MediumAquaMarine; 
	padding: 20px;
	width: 72px;
	height: 17px;
	align-items: center;


}

.logo {

	width: 593px
	height: 73px;
	padding-left: 30px;
	display: flex;
	flex-grow: 1;
	align-items: center;
	
}

nav span {
  	
  	padding: 20px 10px;
  	width: 50px;
  	display: inline-block;
  	justify-content: flex-end: 
  	flex-grow: 2;
 }






.content {
  display: flex;
  border: 1px solid black;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
}

	
}

.columnlarge {

	
	width: 630px;
	border: solid black;
	margin: 10px;
	
	
	
	}

.main-story {

	border: solid black;
}

span .headline {

	border: solid black;
}

.stories {

	border: solid black;
}

.story1 {

	border: solid black;
}

.copy {

	border: solid black;
}

h3  {

	border: solid black;
}

.Earth-spins  {

	border:solid black;
}

.erase-memory  {

	border:  solid black;
}

.columnmedium {

	
	border: 1px solid black;
	width:300px;
	margin: 0 auto;
	align-content: stretch;
	
	
	
}

.columnsmall  {

	
	border: 1px solid black;
	width: 240px;
	margin: 0 auto;

	

	}

body {
  margin: 0;
  padding:0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}